MANIFEST
dist
build/*
*.cache
*.pyc
.svn
runtimeMetaData.py
*ipynb*
*.sublime-workspace
*.sublime-project
*.egg-info*
*.so
redis*
multiprocessing*
*.wav
*.flac
/build/
sound2sounds/experiments/sensorcitysound/localconfig.py
.idea
/bin/
/lib/
/include/
